.form-item {
  color: #28363d;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: bold;
}
.inp {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic;
  border: 0;
  border-bottom: 1px solid #c0c0c0;
  width: 540px;
  & {
    outline: none;
  }
}
#captcha-code {
  width: 302px;
}
#reviews-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 940px;
  width: 100%;
  .reviews-header {
    display : inline-block;
    color: #28363d;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 7px;
    font-family: "Open Sans";
  }
  .reviews-header-describe {
    text-align: center;
    width: 780px;
    color: #8198a0;
    font-family: "Open Sans";
    font-size: 16px;
  }
  .reviews-contacts {
    height: 607px;
    width: 940px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    .contacts-group {
      height: 215px;
      width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .contact-item {
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        height: 67px;
        .contact-header {
          height: 37px;
          font-family: "Open Sans";
          font-size: 20px;
          font-weight: bold;
          color: #ff8207;
        }
        .contact-link {
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: normal;
          color: #999;
          text-decoration: none;
        }
      }
    }
    .reviews {
      background-color: #fff;
      .review-form {
        width: 540px;
        height: 607px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .fieldset {
          border: 0;
        }
        .fieldset-img-button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 130px;
          #file-upload {
            display: none;
          }
          & .custom-file-upload {
            cursor: pointer;
            display: block;
            background: url("./reviews.images/plus.png") no-repeat center center, #ff8207;
            width: 48px;
            height: 60px;
            border-radius: 9px;
          }
        }

        .fieldset-submit-button {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          width: 540px;
          .captcha {
            width: 137px;
            height: 41px;
            background: url("./reviews.images/captcha.png") no-repeat;
          }
          .submit-button {
            cursor: pointer;
            color: #fff;
            font-family: "Open Sans";
            font-size: 18px;
            background-color: #ff8207;
            border: 0;
            border-radius: 9px;
            outline: 0;
            width: 220px;
            height: 60px;

          }
        }
      }
    }
  }
  #pg-up {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 1398px;
    & .scroll-up {
      height: 60px;
      width: 69px;
      background: url("./reviews.images/pgup.png") no-repeat;

    }
  }
}