
$DesktopsLaptop: ( min: 1225px, max: 1399px );

$Laptop: ( min: 1025px, max: 1224px );

$tablet: ( min: 769px, max: 1024px );

$tabletMobile: ( min: 321px, max: 1024px );

$iphone6:  ( min: 375px, max: 736px );

$iphone5: ( min: 320px, max: 568px );

@mixin device($device){
  @media only screen and (min-width:map_get($device, min)) and (max-width:map_get($device, max)) {
    @content;
  }
}

@include device($DesktopsLaptop) {
  #fullpage {
    .section {
      .form_item {
        font-size: 24px;
      }
      .inp {
        font-size: 18px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 540px;
        &:active {
          outline: none;
        }
      }
      .captcha_code {
        width: 302px;
      }
      #reviews_block {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 940px;
        width: 100%;
        .reviews_header {
          display : inline-block;
          font-size: 50px;
          letter-spacing: 7px;
        }
        .reviews_header_describe {
          text-align: center;
          width: 780px;
          font-size: 16px;
        }
        .reviews_contacts {
          height: 607px;
          width: 940px;
          justify-content: space-between;
          .contacts_group {
            height: 215px;
            width: 320px;
            justify-content: space-between;
            align-items: flex-start;
            .contact_item {
              align-content: flex-start;
              flex-direction: column;
              height: 67px;
              .contact_header {
                height: 37px;
                font-size: 20px;
              }
              .contact_link {
                font-size: 16px;
              }
            }
          }
          .reviews {
            .review_form {
              width: 540px;
              height: 607px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .fieldset_img_button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & .custom_file_upload {
                  background: url("./reviews.images/plus.png") no-repeat center center, #ff8207;
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              .fieldset_submit_button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 540px;
                .captcha {
                  width: 137px;
                  height: 41px;
                }
                .submit_button{
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 220px;
                  height: 60px;

                }
              }
            }
          }
        }
        #pg_up {
          width: 1215px;
          & .scroll_up {
            height: 60px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($Laptop) {
  #fullpage {
    .section {
      .form_item {
        font-size: 24px;
      }
      .inp {
        font-size: 18px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 540px;
        & {
          outline: none;
        }
      }
      .captcha_code {
        width: 302px;
      }
      #reviews_block {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 940px;
        width: 100%;
        .reviews_header {
          display : inline-block;
          font-size: 50px;
          letter-spacing: 7px;
        }
        .reviews_header_describe {
          text-align: center;
          width: 780px;
          font-size: 16px;
        }
        .reviews_contacts {
          height: 607px;
          width: 940px;
          justify-content: space-between;
          .contacts_group {
            height: 215px;
            width: 320px;
            justify-content: space-between;
            align-items: flex-start;
            .contact_item {
              align-content: flex-start;
              flex-direction: column;
              height: 67px;
              .contact_header {
                height: 37px;
                font-size: 20px;
              }
              .contact_link {
                font-size: 16px;
              }
            }
          }
          .reviews {
            .review_form {
              width: 540px;
              height: 607px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .fieldset_img_button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & .custom_file_upload {
                  background: url("./reviews.images/plus.png") no-repeat center center, #ff8207;
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              .fieldset_submit_button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 540px;
                .captcha {
                  width: 137px;
                  height: 41px;
                }
                .submit_button{
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 220px;
                  height: 60px;

                }
              }
            }
          }
        }
        #pg_up {
          width: 1015px;
          & .scroll_up {
            height: 60px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($tablet) {
  #fullpage {
    .section {
      .form_item {
        font-size: 24px;
      }
      .inp {
        font-size: 18px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 439px;
        & {
          outline: none;
        }
      }
      .captcha_code {
        width: 302px;
      }
      #reviews_block {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 940px;
        width: 100%;
        .reviews_header {
          display : inline-block;
          font-size: 50px;
          letter-spacing: 7px;
        }
        .reviews_header_describe {
          text-align: center;
          width: 759px;
          font-size: 15px;
        }
        .reviews_contacts {
          height: 607px;
          width: 759px;
          justify-content: space-between;
          .contacts_group {
            height: 315px;
            width: 320px;
            justify-content: space-between;
            .contact_item {
              height: 100px;
              .contact_header {
                height: 37px;
                font-size: 20px;
              }
              .contact_link {
                font-size: 16px;
                width: 160px;
              }
            }
          }
          .reviews {
            .review_form {
              width: 439px;
              height: 607px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .fieldset_img_button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & .custom_file_upload {
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              .fieldset_submit_button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 439px;
                .captcha {
                  width: 137px;
                  height: 41px;
                }
                .submit_button{
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 160px;
                  height: 60px;

                }
              }
            }
          }
        }
        #pg_up {
          width: 759px;
          & .scroll_up {
            height: 60px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($tabletMobile) {
  #fullpage {
    .section {
      .form_item {
        font-size: 20px;
      }
      .inp {
        font-size: 15px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 310px;
        &:active {
          outline: none;
        }
      }
      .captcha_code {
        width: 302px;
      }
      #reviews_block {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 950px;
        width: 100%;
        .reviews_header {
          display : inline-block;
          font-size: 30px;
          letter-spacing: 3px;
        }
        .reviews_header_describe {
          display: none;
          text-align: center;
          width: 310px;
          font-size: 13px;
        }
        .reviews_contacts {
          height: 910px;
          width: 310px;
          justify-content: space-between;
          flex-direction: column;
          .contacts_group {
            height: 300px;
            width: 320px;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            .contact_item {
              height: 100px;
              .contact_header {
                height: 37px;
                font-size: 20px;
              }
              .contact_link {
                font-size: 16px;
                width: 160px;
              }
            }
          }
          .reviews {
            .review_form {
              width: 310px;
              height: 607px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .fieldset_img_button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & .custom_file_upload {
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              .fieldset_submit_button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 310px;
                .captcha {
                  width: 137px;
                  height: 41px;
                }
                .submit_button{
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 160px;
                  height: 60px;
                }
              }
            }
          }
        }
        #pg_up {
          width: 310px;
          justify-content: center;
          & .scroll_up {
            height: 60px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($iphone6) {
  .separator {
    display: none;
  }
  #fullpage {
    .section {
      .form_item {
        font-size: 16px;
      }
      .inp {
        font-size: 15px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 365px;
        &:active {
          outline: none;
        }
      }
      .captcha_code {
        width: 302px;
      }
      #reviews_block {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 800px;
        width: 100%;
        .reviews_header {
          display : inline-block;
          font-size: 25px;
          letter-spacing: 3px;
        }
        .reviews_header_describe {
          display: none;
          text-align: center;
          width: 365px;
          font-size: 13px;
        }
        .reviews_contacts {
          height: 610px;
          width: 365px;
          justify-content: space-between;
          flex-direction: column;
          .contacts_group {
            height: 120px;
            width: 310px;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            .contact_item {
              height: 40px;
              align-content: center;
              justify-content: space-around;
              flex-direction: row;
              .contact_header {
                height: 20px;
                font-size: 15px;
                width: 150px;
              }
              .contact_link {
                font-size: 13px;
                width: 150px;
              }
            }
          }
          .reviews {
            height: 500px;
            .review_form {
              width: 365px;
              height: 500px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .reviev_comment {
                height: 75px;
              }
              .fieldset_img_button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & .custom_file_upload {
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              .fieldset_submit_button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 365px;
                .captcha {
                  width: 137px;
                  height: 41px;
                }
                .submit_button{
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 160px;
                  height: 60px;

                }
              }
            }
          }
        }
        #pg_up {
          width: 365px;
          justify-content: center;
          & .scroll_up {
            background-size: 40px 40px;
            height: 40px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($iphone5) {
  .separator {
    display: none;
  }
  #fullpage {
    .section {
      .form_item {
        font-size: 16px;
      }
      .inp {
        font-size: 15px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 310px;
        & {
          outline: none;
        }
      }
      #captcha_code {
        width: 302px;
      }
      #reviews_block {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 710px;
        width: 100%;
        .reviews_header {
          display : inline-block;
          font-size: 25px;
          letter-spacing: 3px;
        }
        .reviews_header_describe {
          display: none;
          text-align: center;
          width: 310px;
          font-size: 13px;
        }
        .reviews_contacts {
          height: 610px;
          width: 310px;
          justify-content: space-between;
          flex-direction: column;
          .contacts_group {
            height: 120px;
            width: 310px;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            .contact_item {
              height: 40px;
              align-content: center;
              justify-content: space-around;
              flex-direction: row;
              .contact_header {
                height: 20px;
                font-size: 15px;
                width: 150px;
              }
              .contact_link {
                font-size: 13px;
                width: 150px;
              }
            }
          }
          .reviews {
            height: 500px;
            .review_form {
              width: 310px;
              height: 500px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .reviev_comment {
                height: 75px;
              }
              .fieldset_img_button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file_upload {
                  display: none;
                }
                & .custom_file_upload {
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              .fieldset_submit_button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 310px;
                .captcha {
                  width: 137px;
                  height: 41px;
                }
                .submit_button{
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 160px;
                  height: 60px;

                }
              }
            }
          }
        }
        #pg_up {
          width: 310px;
          justify-content: center;
          & .scroll_up {
            background-size: 40px 40px;
            height: 40px;
            width: 69px;
          }
        }
      }
    }
  }
}