
$DesktopsLaptop: ( min: 1225px, max: 1399px );

$Laptop: ( min: 1025px, max: 1224px );

$tablet: ( min: 769px, max: 1024px );

$tabletMobile: ( min: 321px, max: 1024px );

$iphone6:  ( min: 375px, max: 736px );

$iphone5: ( min: 320px, max: 568px );

@mixin device($device){
  @media only screen and (min-width:map_get($device, min)) and (max-width:map_get($device, max)) {
    @content;
  }
}

@include device($DesktopsLaptop) {
  div#fullpage {
    div.section {
      label {
        font-size: 24px;
      }
      .inp {
        font-size: 18px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 540px;
        & {
          outline: none;
        }
      }
      input#captcha-code {
        width: 302px;
      }
      article#reviews {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 940px;
        width: 100%;
        h2.reviews-header {
          display : inline-block;
          font-size: 50px;
          letter-spacing: 7px;
        }
        p.reviews-header-describe {
          text-align: center;
          width: 780px;
          font-size: 16px;
        }
        section.reviews-contacts {
          height: 607px;
          width: 940px;
          justify-content: space-between;
          div#contacts {
            height: 215px;
            width: 320px;
            justify-content: space-between;
            align-items: flex-start;
            article#contact {
              align-content: flex-start;
              flex-direction: column;
              height: 67px;
              h4.contact-header {
                height: 37px;
                font-size: 20px;
              }
              a.contact-link {
                font-size: 16px;
              }
            }
          }
          div.reviews {
            form#review {
              width: 540px;
              height: 607px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              div.fieldset {
                border: 0;
              }
              div.fieldset-img-button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & #custom-file-upload {
                  background: url("./reviews.images/plus.png") no-repeat center center, #ff8207;
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              div.fieldset-submit-button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 540px;
                img#captcha {
                  width: 137px;
                  height: 41px;
                }
                button {
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 220px;
                  height: 60px;

                }
              }
            }
          }
        }
        div#pg-up {
          width: 1215px;
          & a#scroll-up {
            height: 60px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($Laptop) {
  div#fullpage {
    div.section {
      label {
        font-size: 24px;
      }
      .inp {
        font-size: 18px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 540px;
        & {
          outline: none;
        }
      }
      input#captcha-code {
        width: 302px;
      }
      article#reviews {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 940px;
        width: 100%;
        h2.reviews-header {
          display : inline-block;
          font-size: 50px;
          letter-spacing: 7px;
        }
        p.reviews-header-describe {
          text-align: center;
          width: 780px;
          font-size: 16px;
        }
        section.reviews-contacts {
          height: 607px;
          width: 940px;
          justify-content: space-between;
          div#contacts {
            height: 215px;
            width: 320px;
            justify-content: space-between;
            align-items: flex-start;
            article#contact {
              align-content: flex-start;
              flex-direction: column;
              height: 67px;
              h4.contact-header {
                height: 37px;
                font-size: 20px;
              }
              a.contact-link {
                font-size: 16px;
              }
            }
          }
          div.reviews {
            form#review {
              width: 540px;
              height: 607px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              div.fieldset {
                border: 0;
              }
              div.fieldset-img-button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & #custom-file-upload {
                  background: url("./reviews.images/plus.png") no-repeat center center, #ff8207;
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              div.fieldset-submit-button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 540px;
                img#captcha {
                  width: 137px;
                  height: 41px;
                }
                button {
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 220px;
                  height: 60px;

                }
              }
            }
          }
        }
        div#pg-up {
          width: 1015px;
          & a#scroll-up {
            height: 60px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($tablet) {
  div#fullpage {
    div.section {
      label {
        font-size: 24px;
      }
      .inp {
        font-size: 18px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 439px;
        & {
          outline: none;
        }
      }
      input#captcha-code {
        width: 302px;
      }
      article#reviews {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 940px;
        width: 100%;
        h2.reviews-header {
          display : inline-block;
          font-size: 50px;
          letter-spacing: 7px;
        }
        p.reviews-header-describe {
          text-align: center;
          width: 759px;
          font-size: 15px;
        }
        section.reviews-contacts {
          height: 607px;
          width: 759px;
          justify-content: space-between;
          div#contacts {
            height: 315px;
            width: 320px;
            justify-content: space-between;
            article#contact {
              height: 100px;
              h4.contact-header {
                height: 37px;
                font-size: 20px;
              }
              a.contact-link {
                font-size: 16px;
                width: 160px;
              }
            }
          }
          div.reviews {
            form#review {
              width: 439px;
              height: 607px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              div.fieldset {
                border: 0;
              }
              div.fieldset-img-button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & #custom-file-upload {
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              div.fieldset-submit-button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 439px;
                img#captcha {
                  width: 137px;
                  height: 41px;
                }
                button {
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 160px;
                  height: 60px;

                }
              }
            }
          }
        }
        div#pg-up {
          width: 759px;
          & a#scroll-up {
            height: 60px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($tabletMobile) {
  div#fullpage {
    div.section {

      label {
        font-size: 20px;
      }
      .inp {
        font-size: 15px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 310px;
        & {
          outline: none;
        }
      }
      input#captcha-code {
        width: 302px;
      }
      article#reviews {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 950px;
        width: 100%;
        h2.reviews-header {
          display : inline-block;
          font-size: 30px;
          letter-spacing: 3px;
        }
        p.reviews-header-describe {
          display: none;
          text-align: center;
          width: 310px;
          font-size: 13px;
        }
        section.reviews-contacts {
          height: 910px;
          width: 310px;
          justify-content: space-between;
          flex-direction: column;
          div#contacts {
            height: 300px;
            width: 320px;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            article#contact {
              height: 100px;
              h4.contact-header {
                height: 37px;
                font-size: 20px;
              }
              a.contact-link {
                font-size: 16px;
                width: 160px;
              }
            }
          }
          div.reviews {
            form#review {
              width: 310px;
              height: 607px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              div.fieldset {
                border: 0;
              }
              div.fieldset-img-button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & #custom-file-upload {
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              div.fieldset-submit-button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 310px;
                img#captcha {
                  width: 137px;
                  height: 41px;
                }
                button {
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 160px;
                  height: 60px;

                }
              }
            }
          }
        }
        div#pg-up {
          width: 310px;
          justify-content: center;
          & a#scroll-up {
            height: 60px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($iphone6) {
  div.separator {
    display: none;
  }
  div#fullpage {
    div.section {
      label {
        font-size: 16px;
      }
      .inp {
        font-size: 15px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 365px;
        & {
          outline: none;
        }
      }
      input#captcha-code {
        width: 302px;
      }
      article#reviews {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 800px;
        width: 100%;
        h2.reviews-header {
          display : inline-block;
          font-size: 25px;
          letter-spacing: 3px;
        }
        p.reviews-header-describe {
          display: none;
          text-align: center;
          width: 365px;
          font-size: 13px;
        }
        section.reviews-contacts {
          height: 610px;
          width: 365px;
          justify-content: space-between;
          flex-direction: column;
          div#contacts {
            height: 120px;
            width: 310px;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            article#contact {
              height: 40px;
              align-content: center;
              justify-content: space-around;
              flex-direction: row;
              h4.contact-header {
                height: 20px;
                font-size: 15px;
                width: 150px;
              }
              a.contact-link {
                font-size: 13px;
                width: 150px;
              }
            }
          }
          div.reviews {
            height: 500px;
            form#review {
              width: 365px;
              height: 500px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              textarea {
                height: 75px;
              }
              div.fieldset {
                border: 0;
              }
              div.fieldset-img-button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & #custom-file-upload {
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              div.fieldset-submit-button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 365px;
                img#captcha {
                  width: 137px;
                  height: 41px;
                }
                button {
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 160px;
                  height: 60px;

                }
              }
            }
          }
        }
        div#pg-up {
          width: 365px;
          justify-content: center;
          & a#scroll-up {
            background-size: 40px 40px;
            height: 40px;
            width: 69px;
          }
        }
      }
    }
  }
}
@include device($iphone5) {
  div.separator {
    display: none;
  }
  div#fullpage {
    div.section {
      label {
        font-size: 16px;
      }
      .inp {
        font-size: 15px;
        font-style: italic;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        width: 310px;
        & {
          outline: none;
        }
      }
      input#captcha-code {
        width: 302px;
      }
      article#reviews {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 710px;
        width: 100%;
        h2.reviews-header {
          display : inline-block;
          font-size: 25px;
          letter-spacing: 3px;
        }
        p.reviews-header-describe {
          display: none;
          text-align: center;
          width: 310px;
          font-size: 13px;
        }
        section.reviews-contacts {
          height: 610px;
          width: 310px;
          justify-content: space-between;
          flex-direction: column;
          div#contacts {
            height: 120px;
            width: 310px;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            article#contact {
              height: 40px;
              align-content: center;
              justify-content: space-around;
              flex-direction: row;
              h4.contact-header {
                height: 20px;
                font-size: 15px;
                width: 150px;
              }
              a.contact-link {
                font-size: 13px;
                width: 150px;
              }
            }
          }
          div.reviews {
            height: 500px;
            form#review {
              width: 310px;
              height: 500px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              textarea {
                height: 75px;
              }
              div.fieldset {
                border: 0;
              }
              div.fieldset-img-button {
                align-items: center;
                justify-content: space-between;
                width: 130px;
                #file-upload {
                  display: none;
                }
                & #custom-file-upload {
                  width: 48px;
                  height: 60px;
                  border-radius: 9px;

                }
              }
              div.fieldset-submit-button {
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 310px;
                img#captcha {
                  width: 137px;
                  height: 41px;
                }
                button {
                  font-size: 18px;
                  border: 0;
                  border-radius: 9px;
                  outline: 0;
                  width: 160px;
                  height: 60px;

                }
              }
            }
          }
        }
        div#pg-up {
          width: 310px;
          justify-content: center;
          & a#scroll-up {
            background-size: 40px 40px;
            height: 40px;
            width: 69px;
          }
        }
      }
    }
  }
}