
$DesktopsLaptop: ( min: 1225px, max: 1399px );


$Laptop: ( min: 1025px, max: 1224px );

$tablet: ( min: 768px, max: 1024px );

$tabletMobile: ( min: 320px, max: 1024px );

$iphone6:  ( min: 375px, max: 736px );


$iphone5: ( min: 320px, max: 568px );

div#header {
  display: flex;
  justify-content: center;
  background-color: #28363d;
}

@mixin device($device){
  @media only screen and (min-width:map-get($device, min)) and (max-width:map-get($device, max)) {
    @content;
  }
}
@include device($DesktopsLaptop) {
  #fullpage{
    .section#header{
      #header-menu {
        width: 1224px;
        height: 110px;
        .logo{
          width: 229px;
        }
        .nav-menu {
          width: 800px;
          height: 120px;
          .item {
            .item-link {
              font-size: 15px;
              font-weight: bold;
            }
          }
          .fake-item{
            @extend .item
          }
        }
        .phones {
          width: 229px;
          .phone-link {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@include device($Laptop) {
  #fullpage{
    .section#header{
      #header-menu {
        width: 1024px;
        height: 100px;
        .logo{
          width: 160px;
        }
        .nav-menu {
          width: 714px;
          height: 100px;
          .item {
            .item-link {
              font-size: 14px;
              font-weight: bold;
              width: 144px;
              height: 100px;
            }
          }
          .fake-item{
            @extend .item
          }
        }
        .phones {
          display: none;
          width: 150px;

          .phone-link {
            font-size: 17px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@include device($tablet) {
  #fullpage{
    .section#header{
      width: 100%;
      #header-menu {
        width: 768px;
        height: 60px;
        flex-direction: row;
        .logo{
          width: 160px;
        }
        .hamburger {
          display: block;
        }
        .nav-menu {
          display: none;
          width: 608px;
          height: 60px;
          flex-wrap: wrap;
          .item {
            .item-link {
              font-size: 14px;
              font-weight: bold;
              width: 144px;
              height: 80px;
            }
          }
          .fake-item{
            @extend .item
          }
        }
        .phones {
          display: none;
          width: 150px;
          .phone-link {
            font-size: 17px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@include device($tabletMobile) {
  #fp-nav {
    top: 80%;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  #fullpage{
    .section#header{
      width: 100%;
      #header-menu {
        width: 320px;
        height: 60px;
        flex-direction: row;
        .logo{
          width: 160px;
        }
        .hamburger {
          display: block;
        }
        .nav-menu {
          display: none;
          width: 608px;
          height: 60px;
          flex-wrap: wrap;
          .item {
            .item-link {
              font-size: 14px;
              font-weight: bold;
              width: 144px;
              height: 80px;
            }
          }
          .fake-item{
            @extend .item
          }
        }
        .phones {
          display: none;
          width: 150px;
          .phone-link {
            font-size: 17px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@include device($iphone6) {
  #fp-nav {
    top: 80%;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  #fullpage{
    .section#header{
      width: 100%;
      #header-menu {
        width: 320px;
        height: 60px;
        flex-direction: row;
        .logo{
          width: 160px;
        }
        .hamburger {
          display: block;
        }
        .nav-menu {
          display: none;
          width: 608px;
          height: 60px;
          flex-wrap: wrap;
          .item {
            .item-link {
              font-size: 14px;
              font-weight: bold;
              width: 144px;
              height: 80px;
            }
          }
          .fake-item{
            @extend .item
          }
        }
        .phones {
          display: none;
          width: 150px;
          .phone-link {
            font-size: 17px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@include device($iphone5) {
  #fp-nav {
    top: 80%;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  #fullpage{
    .section#header{
      #header-menu {
        width: 320px;
        height: 60px;
        flex-direction: row;
        .logo{
          width: 160px;
        }
        .hamburger {
          display: block;
        }
        .nav-menu {
          display: none;
          width: 608px;
          height: 60px;
          flex-wrap: wrap;
          .item {
            .item-link {
              font-size: 14px;
              font-weight: bold;
              width: 144px;
              height: 80px;
            }
          }
        }
        .phones {
          display: none;
          width: 150px;
          .phone-link {
            font-size: 17px;
            font-weight: bold;
          }
        }
      }
    }
  }
}