$DesktopsLaptop: ( min: 1225px, max: 1399px );

$Laptop: ( min: 1025px, max: 1224px );

$tablet: ( min: 768px, max: 1024px );

$tabletMobile: ( min: 320px, max: 1024px );

$iphone6:  ( min: 375px, max: 736px );


$iphone5: ( min: 320px, max: 568px );

#header {
  display: flex;
  justify-content: center;
  background-color: #28363d;
}

@mixin device($device){
  @media only screen and (min-width:map-get($device, min)) and (max-width:map-get($device, max)) {
    @content;
  }
}
@include device($DesktopsLaptop) {
  #header-menu {
    width: 1224px;
    height: 110px;
  }
  .logo{
    width: 229px;
  }
  .nav-menu {
    width: 800px;
    height: 120px;
  }
  .item {
    .item-link {
      font-size: 15px;
      font-weight: bold;
    }
  }
  .fake-item {
    @extend .item
  }
  .phones {
    width: 229px;
  }
  .phone-link {
    font-size: 18px;
    font-weight: bold;
  }
}
@include device($Laptop) {
  #header-menu {
    width: 1024px;
    height: 100px;
  }
  .logo{
    width: 160px;
  }
  .nav-menu {
    width: 714px;
    height: 100px;
  }
  .item {
    .item-link {
      font-size: 14px;
      font-weight: bold;
      width: 144px;
      height: 100px;
    }
  }
  .fake-item {
    @extend .item
  }
  .phones {
    display: none;
  }
}
@include device($tablet) {
  .section#header {
    width: 100%;
  }
  #header-menu {
    width: 768px;
    height: 60px;
    flex-direction: row;
  }
  .nav-menu {
    display: none;
    width: 608px;
    height: 60px;
    flex-wrap: wrap;
  }
  .hamburger {
    display: block;
  }
  .item {
    .item-link {
      font-size: 14px;
      font-weight: bold;
      width: 144px;
      height: 100px;
    }
  }
  .fake-item {
    @extend .item
  }
  .phones {
    display: none;
  }
}
@include device($tabletMobile) {
  #fp-nav {
    top: 80%;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  #header-menu {
    width: 320px;
    height: 60px;
    flex-direction: row;
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .item {
    .item-link {
      font-size: 14px;
      font-weight: bold;
      width: 144px;
      height: 100px;
    }
  }
  .fake-item {
    @extend .item
  }
  .phones {
    display: none;
  }
}
@include device($iphone6) {
  #fp-nav {
    top: 80%;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  #header-menu {
    width: 320px;
    height: 60px;
    flex-direction: row;
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .item {
    .item-link {
      font-size: 14px;
      font-weight: bold;
      width: 144px;
      height: 100px;
    }
  }
  .fake-item {
    @extend .item
  }
  .phones {
    display: none;
  }
}
@include device($iphone5) {
  #fp-nav {
    top: 80%;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .fake-item {
    @extend .item
  }
  .phones {
    display: none;
  }
  #fp-nav {
    top: 80%;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}