- var menuItems = [["главная","secondPage"],["портфолио","thirdPage"],["преимущества","fourthPage"],["схема работы",""],["отзывы","fifthPage"],["контакты","sixthPage"]];
header#header-menu
  div.logo
  nav.nav-menu
    ul.menu-items
      li(data-menuanchor="secondPage").item
        a(href="#" + "secondPage").item-link="главная".toUpperCase()
      li(data-menuanchor="thirdPage").item
        a(href="#" + "thirdPage").item-link="портфолио".toUpperCase()
      li(data-menuanchor="fourthPage").item
        a(href="#" + "fourthPage").item-link="преимущества".toUpperCase()
      li.fake-item
        a(href="#").item-link="схема работы".toUpperCase()
      li(data-menuanchor="fifthPage").item
        a(href="#" + "fifthPage").item-link="отзывы".toUpperCase()
      li(data-menuanchor="sixthPage").item
        a(href="#" + "sixthPage").item-link="контакты".toUpperCase()
  div.phones
    a(href="href").phone-link="+375(29)123-45-67"
    a(href="href").phone-link="+375(29)123-45-67"

  .container.container-hamburger
    .hamburger-wrapper
      .hamburger
        div#menu-button
      .hamburger-menu
        ul.main-links
          for menuItem, i in menuItems
            li(data-menuanchor=menuItem[1]).delay
              a(href="#" + menuItem[1])= menuItem[0].toUpperCase()
        .secondary-links
          .row
            a(href="#") instagram
            a(href="#") twitter
            a(href="#") facebook
          .row
            p copyright © 2015 | Webcom Media