- var menuItems = [["главная","second-page"],["портфолио","third-page"],["преимущества","fourth-page"],["схема работы",""],["отзывы","fifth-page"],["контакты","sixth-page"]];
header#header-menu
  div.logo
  nav.nav-menu
    ul.menu-items
      li(data-menuanchor="second-page").item
        a(href="#" + "second-page").item-link="главная"
      li(data-menuanchor="third-page").item
        a(href="#" + "third-page").item-link="портфолио"
      li(data-menuanchor="fourth-page").item
        a(href="#" + "fourth-page").item-link="преимущества"
      li.fake-item
        a(href="#").item-link="схема работы"
      li(data-menuanchor="fifth-page").item
        a(href="#" + "fifth-page").item-link="отзывы"
      li(data-menuanchor="sixth-page").item
        a(href="#" + "sixth-page").item-link="контакты"
  div.phones
    a(href="href").phone-link="+375(29)123-45-67"
    a(href="href").phone-link="+375(29)123-45-67"

  .container.container-hamburger
    .hamburger-wrapper
      .hamburger
        div#menu-button
      .hamburger-menu
        ul.main-links
          for menuItem, i in menuItems
            li(data-menuanchor=menuItem[1]).delay
              a(href="#" + menuItem[1])= menuItem[0]
        .secondary-links
          .row
            a(href="#") instagram
            a(href="#") twitter
            a(href="#") facebook
          .row
            p copyright © 2015 | Webcom Media