$DesktopsLaptop: ( min: 1225px, max: 1399px );

$Laptop: ( min: 1025px, max: 1224px );

$tablet: ( min: 769px, max: 1024px );

$tabletMobile: ( min: 321px, max: 1024px );

$iphone6:  ( min: 375px, max: 736px );

$iphone5: ( min: 320px, max: 568px );

@mixin device($device){
  @media only screen and (min-width:map_get($device, min)) and (max-width:map_get($device, max)) {
    @content;
  }
}
@include device($DesktopsLaptop) {
  #fullpage {
    .section {
      #main {
        .bombit_slide {
          height: 1000px;
        }
        .slider_wrapper {
          width: 100%;
          .main_content {
            width: 1225px;
            .slider_nav {
              width: 1100px;
              .left_button {
                transform: rotate(180deg);
                background-size: 80px 80px;
              }
              .right_button {
                background-size: 80px 80px;
              }
            }
            #feedback_button {
              width: 400px;
              height: 80px;
            }
            #nav_bar {
              height: 18px;
              width: 138px;
            }
          }
        }
      }
    }
  }
}
@include device($Laptop) {
  #fullpage {
    overflow: hidden;
    .section {
      #main {
        .bombit_slide {
          height: 1000px;
        }
        .slider_wrapper {
          width: 100%;
          .main_content {
            width: 1025px;
            .slider_nav {
              width: 900px;
              .left_button {
                transform: rotate(180deg);
                background-size: 80px 80px;
              }
              .right_button {
                background-size: 80px 80px;
              }
            }
            #feedback_button {
              width: 300px;
              height: 70px;
              font-size: 23px;
            }
            #nav_bar {
              height: 18px;
              width: 138px;
            }
          }
        }
      }
    }
  }
}
@include device($tablet) {
  #fullpage {
    overflow: hidden;
    .section {
      #main {
        .bombit_slide {
          height: 700px;
        }
        .slider_wrapper {
          width: 100%;
          .main_content {
            width: 769px;
            .main_title{
              font-size: 40px;
              letter-spacing: 13px;
            }
            .delimiter {
              height: 16px;
              width: 740px;
              background-size: 740px;
            }
            .slider_nav {
              width: 700px;
              .left_button {
                transform: rotate(180deg);
                background-size: 80px 80px;
              }
              .right_button {
                background-size: 80px 80px;
              }
            }
            .modal {
              #feedback_button {
                width: 300px;
                height: 80px;
                font-size: 20px;
              }
            }
            #nav_bar {
              height: 18px;
              width: 138px;
            }
          }
        }
      }
    }
  }
}
@include device($tabletMobile) {
  #fullpage {
    overflow: hidden;
    .section {
      #main {
        .bombit_slide {
          height: 400px;
        }
        .slider_wrapper {
          width: 100%;
          height: 400px;
          .main_content {
            width: 320px;
            height: 400px;
            .main_title{
              font-size: 25px;
              letter-spacing: 0;
            }
            .main_description {
              font-size: 15px;
              width: 320px;
            }
            .delimiter {
              height: 16px;
              width: 300px;
              background-size: 300px;
            }
            .slider_nav {
              height: 60px;
              width: 320px;
              padding: 0;
              margin: 0;
              .left_button {
                transform: rotate(180deg);
                background-size: 60px 60px;
                width: 60px;
                height: 60px;
              }
              .right_button {
                background-size: 60px 60px;
                width: 60px;
                height: 60px;
              }
            }
            .card_title {
              width: 320px;
              font-size: 10px;
              font-weight: normal;
              position: relative;
            }
            #feedback_button {
              width: 320px;
              height: 60px;
              border-radius: 0;
              font-size: 25px;
              font-weight: bold;
            }
            #nav_bar {
              height: 18px;
              width: 138px;
            }
          }
        }
      }
    }
  }
}
@include device($iphone6) {
  #fullpage {
    overflow: hidden;
    .section {
      #main {
        .bombit_slide {
          height: 400px;
          min-width: 100%;
          //max-height: 100%;
        }
        .slider_wrapper {
          width: 100%;
          height: 400px;
          .main_content {
            width: 375px;
            height: 400px;
            .main_title{
              font-size: 25px;
              letter-spacing: 0;
            }
            .delimiter {
              height: 16px;
              width: 300px;
              background-size: 300px;
            }
            .slider_nav {
              height: 60px;
              width: 375px;
              padding: 0;
              margin: 0;
              .left_button {
                transform: rotate(180deg);
                background-size: 60px 60px;
                width: 60px;
                height: 60px;
              }
              .right_button {
                background-size: 60px 60px;
                width: 60px;
                height: 60px;
              }
            }
            .card_title {
              width: 375px;
              font-size: 10px;
              font-weight: normal;
              position: relative;
            }
            #nav_bar {
              height: 18px;
              width: 138px;
            }
          }
        }
      }
    }
  }
}
@include device($iphone5) {
  #fullpage {
    overflow: hidden;
    .section {
      #main {
        .bombit_slide {
          height: 400px;
        }
        .slider_wrapper {
          width: 100%;
          height: 400px;
          .main_content {
            width: 320px;
            height: 400px;
            .main_title {
              font-size: 25px;
              letter-spacing: 0;
            }
            .main_description {
              font-size: 15px;
              width: 320px;
            }
            .delimiter {
              height: 16px;
              width: 300px;
              background-size: 300px;
            }
            .slider_nav {
              height: 50px;
              width: 320px;
              padding: 0;
              margin: 0;
              .left_button {
                transform: rotate(180deg);
                background-size: 50px 50px;
                width: 50px;
                height: 50px;
              }
              .right_button {
                background-size: 50px 50px;
                width: 50px;
                height: 50px;
              }
            }
            .card_title {
              width: 320px;
              font-size: 10px;
              font-weight: normal;
              position: relative;
            }
            #feedback_button {
              width: 100%;
              height: 60px;
              border-radius: 0;
              font-size: 25px;
              font-weight: bold;
            }
            #nav_bar {
              height: 18px;
              width: 138px;
            }
          }
        }
      }
    }
  }
}