#portfolio {
  background: url("./portfolio.images/effect.jpg") -6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .portfolio_article {
    display: flex;
    height: 977px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .portfolio_caption {
      display : inline-block;
      height: 33px;
      color: #28363d;
      font-size: 50px;
      font-weight: normal;
      letter-spacing: 7px;
      font-family: "Open Sans";
    }
    .portfolio_descriptions {
      text-align: center;
      width: 780px;
      color: #8198a0;
      font-family: "Open Sans";
      font-size: 16px;
    }
  }
  .products {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 654px;
    width: 1420px;
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 320px;
      width: 460px;
      background: url("./portfolio.images/photo134.png") no-repeat center, #28363d;
      background-size: 60px 46px, cover;
      .invise_block {
        display: none;
        width: 100%;
        .product_card {
          display: flex;
          align-items: flex-start;
          justify-content: space-around;
          flex-direction: column;
          width: 100%;
          height: 100px;
          background-color: #fff;
          animation-name: cardFadeIn;
          animation-duration: 1s;
          animation-fill-mode: both;
          .product_title {
            font-family: "Open Sans";
            font-size: 18px;
          }
          .product_descriptions {
            font-family: "Open Sans";
            font-size: 16px;
          }
          @keyframes cardFadeIn {
            0% {opacity: 0;}
            100% {opacity: 0.8;}
          }
        }
      }
    }
    .product:hover {
      .invise_block {
        display: block;
      }
    }
  }
}