@mixin info-block($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: space-around;
  width: 197px;
  height: 115px;
  flex-wrap: wrap;
}
#footer {
  width: 100%;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer_info {
    background-color: #28363d;
    height: 250px;
  }
  .footer_copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    background-color: #1e292f;

    border-bottom: 2px solid #ff8207;
    box-sizing: border-box;
    width: 100%;
    .copyright {
      font-size: 19px;
      font-family: "Open Sans";
      color: #fff;
      font-weight: normal;
    }
  }
}
.footer_box {
  width: 1400px;
  height: 234px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left_info_block {
    @include info-block( flex-start);
  }
  .center_info_block {
    @include info-block( center);
  }
  .right_info_block {
    @include info-block( flex-end);
  }
}
.footer_logo {
  background-color: white;
  width: 162px;
  height: 40px;
  background: url("../../images/logo.png") no-repeat;

}
.disclaimer {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: normal;
  color: #fff;
}
@mixin social($icon) {
  height: 26px;
  width: 26px;
  background-color: white;
  background: url($icon) no-repeat;
  background-size: 26px 26px;
}
.social {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #fff;
}
.social_links {
  height: 26px;
  width: 115px;
  display: flex;
  justify-content: space-between;
  a.instagram {
    @include social("./footer.images/instagram.png");
  }
  a.twitter {
    @include social("./footer.images/twitter.png");
  }
  a.facebook {
    @include social("./footer.images/facebook.png");
  }
}
.info_block_address {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #fff;
}
.address_map {
  text-decoration: none;
  text-align: end;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: normal;
  color: #fff;
}